*.DS_Store
*.cab
*.msi
*.msm
*.msp
*.lnk
*.o
*.a
*.so
*.[568vq]
*.cgo1.go
*.cgo2.c
*.exe
*.test
*.prof
*.out
*~
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
_obj
_test
[568vq].out
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
vendor/
.fuse_hidden*
.directory
.Trash-*
.nfs*

